@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NanumSquareRound';

}

/* header */
header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

header ul {
    display: flex;
    justify-content: space-between;

}

header li {
    width: calc(100%/5);
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header a {
    width: 100%;
    height: 100%;
    display: block;
    color: #5b5775;
    font-size: 20px;
    font-weight: bold;
    font-family: 'yg-jalnan';
}

header a:hover {
    color: #222;
}

/* visual */


#visual {
    width: 100%;
    height: 100vh;
    background-color: #F5E789;
}

#visual .box {
    width: 600px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: flex;
    margin: 50px auto;
    font-family: 'yg-jalnan';
}

#visual .box1 {
    width: 100%;
    height: 100%;
    background-color: #d5d0f2;
    border-top-left-radius: 50px;
}

#visual .box2 {
    width: 100%;
    height: 100%;
    background-color: #9889f4
}

#visual .noh {
    /* width: 100%; */
    display: flex;
    gap: 200px;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#visual .noh img {
    width: 700px;
}

#visual h2 {
    font-family: 'yg-jalnan';
    font-size: 70px;
}

#visual span {
    color: #5b5775;
}

#visual .noh>li {
    width: calc(100%/2);
}



#visual li:last-child {
    width: 700px;
    height: 700px;
    overflow: hidden;
}

#visual .slide {
    width: 100%;
    height: 100%;
}

#visual .slide img {
    width: 100%;
    height: 100%;

}

/* con1 */

.con1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.con1>ul {
    width: 1200px;
    display: flex;
    gap: 100px;
    margin: 0px auto;
    align-items: center;
    /* text-align: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con1 li {
    width: calc(100% / 2);
}

.con1 li:first-child {
    text-align: center;
}

.con1 .bg {
    width: 350px;
    height: 500px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.con1 .bg-g {
    width: 350px;
    height: 500px;
    background-color: #ccc;
    position: absolute;
    top: -10px;
    left: 20px;
    border-radius: 100px;
}

.con1 .bg-l {
    width: 350px;
    height: 500px;
    background-color: #d5d0f2;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    border-radius: 100px;
}

.con1 .me {
    width: 350px;
    height: 400px;
    /* object-fit: cover; */
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}

.con1 li:first-child h3 {
    font-family: 'yg-jalnan';
    margin: 50px;

}

.con1 li:last-child>div {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.con1 h4 {
    font-family: 'yg-jalnan';
    width: 100px;

}

.con1 .gr {
    width: 300px;
    height: 30px;
    background-color: #ccc;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.con1 .h {
    width: 0%;
    height: 100%;
    background-color: #f6b6eb;
    border-radius: 20px;
    color: transparent;

}

.con1 .c {
    width: 0%;
    height: 100%;
    background-color: #b5aafa;
    border-radius: 20px;
    color: transparent;
}

.con1 .j {
    width: 0%;
    height: 100%;
    background-color: #915342;
    border-radius: 20px;
    color: transparent;
}

.con1 .p {
    width: 0%;
    height: 100%;
    background-color: #1f9248;
    border-radius: 20px;
    color: transparent;
}

.con1 .i {
    width: 0%;
    height: 100%;
    background-color: #5643b7;
    border-radius: 20px;
    color: transparent;
}

.con1 .h.on {
    width: 85%;
    height: 100%;
    color: #fff;
    line-height: 30px;
}

.con1 .c.on {
    width: 85%;
    height: 100%;
    color: #fff;
    line-height: 30px;
}

.con1 .j.on {
    width: 85%;
    height: 100%;
    color: #fff;
    line-height: 30px;
}

.con1 .p.on {
    width: 80%;
    height: 100%;
    color: #fff;
    line-height: 30px;
}

.con1 .i.on {
    width: 75%;
    height: 100%;
    color: #fff;
    line-height: 30px;
}

/* con2 */

.con2 {
    width: 100%;
    height: 100vh;
    background-color: #F5E789;
    position: relative;
}

.con2 ul {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con2 ul div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    opacity: 0;
    margin-left: -50px;
}

.con2 li {
    width: calc(100%/2);
}

.con2 div h4 {
    width: 120px;
    font-family: 'yg-jalnan';

}

.con2 li:first-child img {
    width: 50px;
}

.con2 li:last-child img {
    width: 100%;
}

.con2>div {
    display: flex;
    gap: 20px;
}

.con2 .click {
    margin-top: 100px;
}

.con2 .click a {
    display: block;
    width: 150px;
    height: 50px;
}

.con2 .click1 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #9889f4;
    text-align: center;
    border-radius: 50px;

}

.con2 .click2 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #9889f4;
    text-align: center;
    border-radius: 50px;

}

.con2 .click1:hover,
.con2 .click2:hover {
    background-color: #ccc;
}

.con2 .on {
    margin-left: 0px;
    opacity: 1;
    transition: 1s;
}

/* con3 */
.con3 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.con3 ul {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con3 ul div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    opacity: 0;
    margin-left: -50px;
}

.con3 li {
    width: calc(100%/2);
}

.con3 div h4 {
    width: 120px;
    font-family: 'yg-jalnan';

}

.con3 li:first-child img {
    width: 100%;
}

.con3 li:last-child img {

    width: 50px;
}

.con3>div {
    display: flex;
    gap: 20px;
}

.con3 .click {
    margin-top: 100px;


}

.con3 .click a {
    display: block;
    width: 150px;
    height: 50px;
}

.con3 .click1 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #9889f4;
    text-align: center;
    border-radius: 50px;

}

.con3 .click2 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #9889f4;
    text-align: center;
    border-radius: 50px;

}

.con3 .click1:hover,
.con3 .click2:hover {
    background-color: #ccc;
}

.con3 .on {
    transition: 1s;
    opacity: 1;
    margin-left: 0px;
}

/* con4 */

.con4 {
    width: 100%;
    height: 100vh;
    background-color: #F5E789;
    position: relative;
}

.con4 ul {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con4 ul div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: -50px;
    opacity: 0;
}

.con4 li {
    width: calc(100%/2);
}

.con4 div h4 {
    width: 120px;
    font-family: 'yg-jalnan';

}

.con4 li:first-child img {
    width: 50px;
}

.con4 li:last-child img {
    width: 100%;
}

.con4>div {
    display: flex;
    gap: 20px;
}

.con4 .click {
    margin-top: 100px;
}

.con4 .click a {
    display: block;
    width: 150px;
    height: 50px;
}

.con4 .click1 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #9889f4;
    text-align: center;
    border-radius: 50px;

}

.con4 .click2 {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #9889f4;
    text-align: center;
    border-radius: 50px;

}

.con4 .click1:hover,
.con4 .click2:hover {
    background-color: #ccc;
}

.con4 .on {
    transition: 1s;
    opacity: 1;
    margin-left: 0px;
}

/* con5 */
.con5 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.con5 ul {
    width: 1200px;
    display: flex;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con5 li {
    transform: translateY(-100px);
    opacity: 0;
    transition: 1s;
}

.con5 .on {
    transform: translateY(0px);
    opacity: 1;
}

.con5 li:first-child {
    width: 40%;
    transition-delay: 0s;
}

.con5 li:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con5 li:last-child img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.con5 li:last-child {
    width: 60%;
    transition-delay: 0.2s;
}

.con5 li:last-child div {
    display: flex;
}

/* con6 */

.con6 {
    width: 100%;
    height: 100vh;
    background-color: #F5E789;

}

.con6 .contact {
    width: 1200px;
    margin: 0px auto;

}

.con6 .thank {
    position: relative;
    top: 50px;
}

.con6 .circle {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #d5d0f2;
}

.con6 .txt {
    position: absolute;
    font-size: 40px;
    font-family: 'yg-jalnan';
    top: 55px;
    left: 100px;
}

.con6 .co {
    color: #5b5775;
}

.con6 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.con6 li {
    width: calc(100%/2);
}

.con6 li:first-child {
    margin-top: 100px;
}

.con6 li:first-child img {
    width: 80px;
}

.con6 li:first-child div {
    display: flex;
    align-items: center;
}

.con6 .consideration {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    /* font-family: 'yg-jalnan'; */
}

.con6 .act {
    position: relative;
}

.con6 .act img {
    width: 100%;
    position: absolute;
    bottom: -400px;
    left: 0px;
}

.con6 .line {
    animation: active 1s infinite linear;
}

.con6 .heart {
    animation: move 1s infinite linear;
}

@keyframes active {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* footer */
footer {
    width: 100%;
    height: 100%;
    background-color: #333;
    padding: 50px 0px;
}

footer p {
    color: #fff;
    text-align: center;
}